flows.json
[
    {
        "id": "b03e2598e891571e",
        "type": "tab",
        "label": "Vitals Monitoring Flow"
    },
    {
        "id": "83c3386ce91d6f65",
        "type": "http in",
        "z": "b03e2598e891571e",
        "name": "ESP32 Telemetry Receiver",
        "url": "/api/telemetry",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 160,
        "wires": [
            [
                "f98a833a490bb165",
                "8a2f8c8132e61b86"
            ]
        ]
    },
    {
        "id": "f98a833a490bb165",
        "type": "http response",
        "z": "b03e2598e891571e",
        "name": "Respond OK",
        "statusCode": "200",
        "x": 450,
        "y": 100,
        "wires": []
    },
    {
        "id": "8a2f8c8132e61b86",
        "type": "function",
        "z": "b03e2598e891571e",
        "name": "Format Sensor Document",
        "func": "const incoming = msg.payload;\nmsg.payload = {\n    deviceId: incoming.deviceId || 'ESP32_01',\n    bpm: Number(incoming.bpm),\n    spo2: Number(incoming.spo2),\n    bodyTemp: Number(incoming.bodyTemp),\n    timestamp: new Date().toISOString()\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 180,
        "wires": [
            [
                "4dc65908a9d841c9"
            ]
        ]
    },
    {
        "id": "4dc65908a9d841c9",
        "type": "mongodb4",
        "z": "b03e2598e891571e",
        "clientNode": "fe58054484051629",
        "collection": "telemetry",
        "operation": "insertOne",
        "output": "toArray",
        "maxTimeMS": "",
        "handleDocId": false,
        "name": "Atlas Insert Data",
        "x": 750,
        "y": 180,
        "wires": [
            [
                "e741d3fb90d2958c"
            ]
        ]
    },
    {
        "id": "e741d3fb90d2958c",
        "type": "function",
        "z": "b03e2598e891571e",
        "name": "Prep Config Lookup Query",
        "func": "const savedTelemetry = msg.payload;\n// Preserve the newly created document details for later steps\nmsg.vitalsContext = savedTelemetry;\n\n// Setup query payload matching the incoming device configuration targets\nmsg.payload = { deviceId: savedTelemetry.deviceId || 'ESP32_01' };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 280,
        "wires": [
            [
                "da0dcbfe966a5d55"
            ]
        ]
    },
    {
        "id": "da0dcbfe966a5d55",
        "type": "mongodb4",
        "z": "b03e2598e891571e",
        "clientNode": "fe58054484051629",
        "collection": "device_configs",
        "operation": "findOne",
        "output": "toArray",
        "maxTimeMS": "",
        "handleDocId": false,
        "name": "Atlas Fetch Device Config",
        "x": 590,
        "y": 280,
        "wires": [
            [
                "658e573fadfca007"
            ]
        ]
    },
    {
        "id": "658e573fadfca007",
        "type": "function",
        "z": "b03e2598e891571e",
        "name": "Prep Groq Prompt Payload",
        "func": "const groqKey = process.env.GROQ_API_KEY;\nconst currentVitals = msg.vitalsContext;\n\n// Capture fallback defaults if a specific config layout sheet isn't assigned yet inside Atlas\nconst cfg = msg.payload || {\n    minBPM: 60, maxBPM: 100, minSpO2: 95, maxSpO2: 100, minTemp: 36.0, maxTemp: 37.5\n};\nmsg.configContext = cfg;\n\nmsg.headers = { \n    'Authorization': 'Bearer ' + groqKey, \n    'Content-Type': 'application/json' \n};\n\nmsg.payload = {\n    model: 'llama-3.1-8b-instant',\n    messages: [\n        { \n            role: 'system', \n            content: 'You are an advanced medical telemetry monitor analyst AI. You must evaluate current data against the provided target threshold ranges. You MUST respond exactly in this structural format with no extra conversational text:\\nStatus: [Normal OR Warning <parameter 1 is increasing..> OR Alert <parameter 1 has crossed threshold>]\\nRemark: [Your observation, e.g., Signs of body temp increasing. Increased from [X] to [Y] and is increasing now.]'\n        },\n        {\n            role: 'user',\n            content: `Evaluate this medical context:\\n\\nCURRENT TELEMETRY RECORD:\\n- Pulse Rate: ${currentVitals.bpm} BPM\\n- Blood Oxygen (SpO2): ${currentVitals.spo2}%\\n- Body Temperature: ${currentVitals.bodyTemp}°C\\n\\nTARGET DATABASE SAFE RANGE THRESHOLDS:\\n- Pulse Limits: ${cfg.minBPM} to ${cfg.maxBPM} BPM\\n- Oxygen Target: Above ${cfg.minSpO2}%\\n- Temperature Limits: ${cfg.minTemp} to ${cfg.maxTemp}°C` \n        }\n    ]\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 280,
        "wires": [
            [
                "dd39e0750dd508ed"
            ]
        ]
    },
    {
        "id": "dd39e0750dd508ed",
        "type": "http request",
        "z": "b03e2598e891571e",
        "name": "Call Groq Cloud Engine",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 710,
        "y": 400,
        "wires": [
            [
                "bb455c08b433d7dd"
            ]
        ]
    },
    {
        "id": "bb455c08b433d7dd",
        "type": "function",
        "z": "b03e2598e891571e",
        "name": "Evaluate Dual Thresholds",
        "func": "const aiAnalysisText = msg.payload?.choices?.[0]?.message?.content || 'Status: Warning\\nRemark: AI Analysis engine parsing failure.';\nconst lastReading = msg.vitalsContext;\nconst cfg = msg.configContext;\n\nlet alerts = [];\nif (lastReading.bpm < cfg.minBPM || lastReading.bpm > cfg.maxBPM) alerts.push(`Pulse Breach: ${lastReading.bpm} BPM`);\nif (lastReading.spo2 < cfg.minSpO2) alerts.push(`Hypoxia Breach: ${lastReading.spo2}%`);\nif (lastReading.bodyTemp < cfg.minTemp || lastReading.bodyTemp > cfg.maxTemp) alerts.push(`Temp Breach: ${lastReading.bodyTemp}°C`);\n\n// If AI generated a critical status or the math check flags a breach, trigger emergency alert routing\nif (alerts.length > 0 || aiAnalysisText.includes('Alert') || aiAnalysisText.includes('Warning')) {\n    msg.to = \"your-alert-inbox@gmail.com\";\n    msg.topic = \"⚠️ HEALTH ALERT SYSTÈM: \" + lastReading.deviceId;\n    msg.payload = `AI Clinical Assessment:\\n${aiAnalysisText}\\n\\nRaw Mathematical Breaches Found:\\n${alerts.length > 0 ? alerts.join('\\n') : 'None parsed by strict bounds.'}`;\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 400,
        "wires": [
            [
                "24de512770312c41",
                "33d10bc2675760b6"
            ]
        ]
    },
    {
        "id": "33d10bc2675760b6",
        "type": "e-mail",
        "z": "b03e2598e891571e",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "kulkarnikushal26@gmail.com",
        "dname": "E-Mail Alerts",
        "x": 1270,
        "y": 460,
        "wires": []
    },
    {
        "id": "fe58054484051629",
        "type": "mongodb4-client",
        "name": "AtlasCluster",
        "hostname": "",
        "port": "",
        "dbName": "Vitals_Monitoring",
        "appName": "",
        "authSource": "",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "",
        "socketTimeoutMS": "",
        "minPoolSize": "",
        "maxPoolSize": "",
        "maxIdleTimeMS": "",
        "uri": "mongodb+srv://kushaltronics_db_user:DB4me!@c1.b0ijtky.mongodb.net/?appName=C1",
        "advanced": "{}",
        "uriTabActive": "tab-uri-advanced"
    }
]
