flows.json
[
    {
        "id": "9199c418724cdcb2",
        "type": "tab",
        "label": "Vitals Monitoring Flow"
    },
    {
        "id": "f9049913a6376666",
        "type": "http in",
        "z": "9199c418724cdcb2",
        "name": "ESP32 Telemetry Receiver",
        "url": "/api/telemetry",
        "method": "post",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "688a4766d77515b8",
                "32243021983322bc"
            ]
        ]
    },
    {
        "id": "688a4766d77515b8",
        "type": "http response",
        "z": "9199c418724cdcb2",
        "name": "Respond OK",
        "statusCode": "200",
        "x": 350,
        "y": 20,
        "wires": []
    },
    {
        "id": "32243021983322bc",
        "type": "function",
        "z": "9199c418724cdcb2",
        "name": "Format Sensor Document",
        "func": "const incoming = msg.payload;\nmsg.payload = {\n    deviceId: incoming.deviceId || 'ESP32_01',\n    bpm: Number(incoming.bpm),\n    spo2: Number(incoming.spo2),\n    bodyTemp: Number(incoming.bodyTemp),\n    timestamp: new Date().toISOString()\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 100,
        "wires": [
            [
                "fa2f9b03cbf631d4"
            ]
        ]
    },
    {
        "id": "fa2f9b03cbf631d4",
        "type": "mongodb4",
        "z": "9199c418724cdcb2",
        "clientNode": "mongo_cluster_config",
        "collection": "telemetry",
        "operation": "insertOne",
        "output": "toArray",
        "maxTimeMS": "",
        "handleDocId": false,
        "name": "Atlas Insert Data",
        "x": 650,
        "y": 100,
        "wires": [
            [
                "e8d5f488c1188e3b"
            ]
        ]
    },
    {
        "id": "e8d5f488c1188e3b",
        "type": "function",
        "z": "9199c418724cdcb2",
        "name": "Prep Config Lookup Query",
        "func": "msg.vitalsContext = msg.payload;\nmsg.payload = { deviceId: msg.vitalsContext.deviceId || 'ESP32_01' };\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 100,
        "wires": [
            [
                "7dd5ea7eb390f248"
            ]
        ]
    },
    {
        "id": "7dd5ea7eb390f248",
        "type": "mongodb4",
        "z": "9199c418724cdcb2",
        "clientNode": "mongo_cluster_config",
        "collection": "device_configs",
        "operation": "findOne",
        "output": "toArray",
        "maxTimeMS": "",
        "handleDocId": false,
        "name": "Atlas Fetch Device Config",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "48e0e7f12b136433"
            ]
        ]
    },
    {
        "id": "48e0e7f12b136433",
        "type": "function",
        "z": "9199c418724cdcb2",
        "name": "Prep History Aggregation",
        "func": "msg.configContext = msg.payload || {\n    minBPM: 60, maxBPM: 100, minSpO2: 95, maxSpO2: 100, minTemp: 36.0, maxTemp: 37.5\n};\n\n// Build query to fetch the last 10 historical entries sorted sequentially\nmsg.payload = [\n    { $match: { deviceId: msg.vitalsContext.deviceId } },\n    { $sort: { timestamp: -1 } },\n    { $limit: 10 },\n    { $sort: { timestamp: 1 } }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 180,
        "wires": [
            [
                "7bd7fc387ac11a5b"
            ]
        ]
    },
    {
        "id": "7bd7fc387ac11a5b",
        "type": "mongodb4",
        "z": "9199c418724cdcb2",
        "clientNode": "mongo_cluster_config",
        "collection": "telemetry",
        "operation": "aggregate",
        "output": "toArray",
        "maxTimeMS": "",
        "handleDocId": false,
        "name": "Atlas Fetch Last 10 Readings",
        "x": 780,
        "y": 180,
        "wires": [
            [
                "0e56ce3115206e23"
            ]
        ]
    },
    {
        "id": "0e56ce3115206e23",
        "type": "function",
        "z": "9199c418724cdcb2",
        "name": "Prep Groq Prompt Payload",
        "func": "const groqKey = env.get(\"GROQ_API_KEY\");\nconst history = msg.payload || [];\nconst cfg = msg.configContext;\nconst current = msg.vitalsContext;\n\n// Format history stack cleanly for trend parsing\nconst historyString = history.map(h => `[Time: ${h.timestamp}, Pulse: ${h.bpm}BPM, SpO2: ${h.spo2}%, Temp: ${h.bodyTemp}°C]`).join('\\n');\n\nmsg.headers = { \n    'Authorization': 'Bearer ' + groqKey, \n    'Content-Type': 'application/json' \n};\n\nmsg.payload = {\n    model: 'llama-3.1-8b-instant',\n    messages: [\n        { \n            role: 'system', \n            content: 'You are an advanced medical telemetry monitor analyst AI. You must evaluate the trailing timeline trend context of 10 readings against the dynamic thresholds configuration limits provided.\\n\\nCRITICAL OUTPUT REQUIREMENT: You MUST respond exactly in this raw structure layout with no extra conversational markdown introduction prose:\\nStatus: [Normal OR Warning <parameter description detail text> OR Alert <parameter description detail text>]\\nRemark: [Your clear analytical observation detail matching the exact status chosen.]'\n        },\n        {\n            role: 'user',\n            content: `Evaluate this dataset:\\n\\nDYNAMIC PROFILE SAFE RANGE THRESHOLDS:\\n- Pulse Limits: ${cfg.minBPM} to ${cfg.maxBPM} BPM\\n- Oxygen Target: Above ${cfg.minSpO2}%\\n- Temperature Limits: ${cfg.minTemp} to ${cfg.maxTemp}°C\\n\\nTRAILING 10 HISTORICAL RECORD TIMELINE STREAM:\\n${historyString}\\n\\nLATEST INCOMING telemetry PACKET AT CURRENT HANDSHAKE:\\n- Pulse Rate: ${current.bpm} BPM\\n- Blood Oxygen (SpO2): ${current.spo2}%\\n- Body Temperature: ${current.bodyTemp}°C` \n        }\n    ]\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 260,
        "wires": [
            [
                "af37cebaceed4020"
            ]
        ]
    },
    {
        "id": "af37cebaceed4020",
        "type": "http request",
        "z": "9199c418724cdcb2",
        "name": "Call Groq Cloud Engine",
        "method": "POST",
        "ret": "obj",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "x": 490,
        "y": 260,
        "wires": [
            [
                "a082fc567b64fb62"
            ]
        ]
    },
    {
        "id": "a082fc567b64fb62",
        "type": "function",
        "z": "9199c418724cdcb2",
        "name": "Parse & Clean AI Fields",
        "func": "const aiRawText = msg.payload?.choices?.[0]?.message?.content || 'Status: Warning\\nRemark: Engine failure.';\n\nlet status = 'Normal';\nlet remark = 'All parameters are normal and no signs of any alerts.';\n\nconst statusMatch = aiRawText.match(/Status:\\s*(.+)/i);\nconst remarkMatch = aiRawText.match(/Remark:\\s*([\\s\\S]+)/i);\n\nif (statusMatch) status = statusMatch[1].trim();\nif (remarkMatch) remark = remarkMatch[1].trim();\n\n// Create structured database collection tracking file format\nmsg.payload = {\n    deviceId: msg.vitalsContext.deviceId,\n    telemetryId: msg.vitalsContext._id,\n    status: status,\n    remark: remark,\n    timestamp: new Date().toISOString()\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 260,
        "wires": [
            [
                "a67365bd816b7b35"
            ]
        ]
    },
    {
        "id": "a67365bd816b7b35",
        "type": "mongodb4",
        "z": "9199c418724cdcb2",
        "clientNode": "mongo_cluster_config",
        "collection": "AI_response",
        "operation": "insertOne",
        "output": "toArray",
        "maxTimeMS": "",
        "handleDocId": false,
        "name": "Atlas Save AI Response",
        "x": 1050,
        "y": 260,
        "wires": [
            [
                "127ccbe146f4aeb6"
            ]
        ]
    },
    {
        "id": "127ccbe146f4aeb6",
        "type": "function",
        "z": "9199c418724cdcb2",
        "name": "Evaluate Dual Thresholds",
        "func": "const aiDoc = msg.payload.document || msg.payload;\nconst status = aiDoc.status || 'Normal';\n\n// Condition check: Route email ONLY if status explicitly registers an Emergency 'Alert'\nif (status.toLowerCase().includes('alert')) {\n    msg.to = \"your-alert-inbox@gmail.com\";\n    msg.topic = \"⚠️ CRITICAL SYSTEM MEDICAL ALERT: \" + aiDoc.deviceId;\n    msg.payload = `AI Telemetry Classification System Report:\\n\\n[Current Evaluation Summary Status Flag]:\\n${status}\\n\\n[Clinical Diagnostics Review Analyst Remark]:\\n${aiDoc.remark}`;\n    return msg;\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 340,
        "wires": [
            [
                "1e1852261d108c16",
                "bc3f0e9e545e0e96"
            ]
        ]
    },
    {
        "id": "bc3f0e9e545e0e96",
        "type": "e-mail",
        "z": "9199c418724cdcb2",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "kulkarnikushal26@gmail.com",
        "dname": "E-Mail Alerts",
        "x": 670,
        "y": 340,
        "wires": []
    },
    {
        "id": "mongo_cluster_config",
        "type": "mongodb4-client",
        "name": "AtlasCluster",
        "hostname": "",
        "port": "",
        "dbName": "Vitals_Monitoring",
        "appName": "",
        "authSource": "",
        "tls": false,
        "tlsCAFile": "",
        "tlsCertificateKeyFile": "",
        "tlsInsecure": false,
        "connectTimeoutMS": "",
        "socketTimeoutMS": "",
        "minPoolSize": "",
        "maxPoolSize": "",
        "maxIdleTimeMS": "",
        "uri": "mongodb+srv://kushaltronics_db_user:DB4me!@c1.b0ijtky.mongodb.net/?appName=C1",
        "advanced": "{}",
        "uriTabActive": "tab-uri-advanced"
    }
]
